 <footer class="footer">
    <div class="links"></div>
    <a href="/manterprodutos">Início</a>
    <span class="divider">|</span>
    <a href="/resultado">Apuração</a>
    <span class="divider">|</span>
    <a href="/produtos">Admin</a>
    <span class="divider">|</span>
    <a href="/iniciarIncluirProduto">Incluir Produto</a> <!-- /iniciarIncluirProduto -->
    <span class="divider">|</span>
    <a href="/iniciarExcluirProduto">Excluir Produto</a>
    <a class="btn--remix" target="_top" href="https://glitch.com/edit/#!/remix/glitch-hello-sqlite">
      <img src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140"
        alt="" />
      Remix on Glitch
    </a>
</footer>